html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
	body
		

		.container
			.row
				.col-sm-9.col-md-7.col-lg-5.mx-auto
					.card.card-signin.my-5
						.card-body
							h5.card-title.text-center Sign In
							
							if errors
								each error in errors
									.alert.alert-danger=error

							form(action="/auth/login",method="POST")
								.form-group
									label(for="email") Email
									input#email.form-control(name="email",type="text",value=values ? values.email :"")
								.form-group
									label(for="password") Password
									input#password.form-control(name="password",type="password",value=values ? values.password :"")

								button.btn.btn-primary Login